.footer{
    background-color: #333232;
    color: white;
    text-align: center;
    font-size: 2em;
    height: 20vh;
    margin: -16px;
    &::before {
        content: "";
        position: absolute;
        top: 50;
        left: 0;
        width: 100%;
        height: 20vh; 
        background: linear-gradient(to top, rgba(255, 255, 255, 0), rgba(27, 26, 26, 1));
        pointer-events: none;
    }
}