.home{
    background-image: url(../../assets/pexels-brigitte-tohm-239581.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    margin: -16px;
    display: flex;
    align-items: right;

    h1{
        color: white;

    }
}