.navbar{
    display: flex;
    background-color: #333232;
    margin: -16px;
    height: 15vh;

    .navlist{

        ul{
            display: flex;
            li{
                list-style: none;
                margin-left: 1.5em;

                a{
                    text-decoration: none;
                    color: white;
                }
            }
        }
    }
}